.checked-item {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checked-item__icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
}

.checked-item__input {
  display: none;
}
