.group-list {
  display: flex;
  /* gap: 10px; */

  padding: 0;
  margin: 0;
  list-style: none;

  --radius: 8px;
}

.group-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  position: relative;
  padding: 10px 20px;
  border: 1px solid red;
  box-sizing: border-box;
}

.group-list__item:not(.group-list__item--checked):hover {
  color: blue;
}
.group-list__item:active {
  color: aquamarine;
}

.group-list__item--checked {
  color: blue;
  border-color: blue;
  z-index: 1;
}

/* Радиусы */

.group-list__item:first-child {
  /* border-top: 1px solid red;
  border-left: 1px solid red;
  border-bottom: 1px solid red; */
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.group-list__item:last-child {
  /* border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red; */
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

/* Стороны */

.group-list__item:not(.group-list__item:first-child):not(.group-list__item:last-child) {
  /* border-top: 1px solid red; */
  /* border-right: 1px solid red; */
  /* border-bottom: 1px solid red; */
}

.group-list__item:not(.group-list__item:first-child) {
  margin-left: -1px;
}

.group-radio__box {
  position: static !important;
  margin: 0 !important;
}
